body{
padding: 0px;
margin: 0px;
background:url(../images/new_background.jpg);
background-size: 1500px 1000px;
background-repeat: no-repeat;
 }

div.header
{
 width: 1325px;
 height: 60px;
 padding-bottom: 30px;
 margin-left:10px;
 margin-right:10px;
 margin-bottom:0px;
 margin-top:0px;
 padding-top:0px;
 text-align: center;
 background: white;
 position:fixed;
 top:0px;
 z-index:10;
}

div.headerText
{
 width: 900px;
 height: 50px;
 background: ;
 margin-left:100px;
 margin-top:10px;
 margin-bottom:50px;
 padding-top: 10px;
 padding-left: 100px;
 padding-right: 20px;
 padding-bottom: 10px;
 float : left;
 text-align: center;
}

.rainbow 
{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

div.headerOptions
{
 background: ;
 margin-right:10px;
 margin-bottom:10px;
 margin-top:10px;
 padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 10px;
 width: 150px;
 height: 50px;
 float: right;
}

#smalllogoimage
{
height:40px;
width:40px;
}

div.lineText
{
 width: 300px;
 height: 20px;
 padding-top: 0px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 50px;
 margin: 0px;
 text-align: center;
 border: 0px solid green;
 position:static;
 margin-top: 0px;
 margin-bottom: 30px;
}

div.largeBox
{
 width: auto;
 height: ;
 padding-top: 90px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 10px;
 margin-top:20px;
 position:static;
}
div.smallBox_left
{
  width: 200px;
 height: 1000px;
 background-color: #E2F430;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
 float : left;
 position: fixed;
 overflow: auto;
}

div.profile_div
{
 width: 150px;
 height: 130px;
 padding: 5px;
 margin: 5px; 
  position: relative;
}
#profile_image
{
	width:150px;
	height:120px;
	display: block;
    margin: 0 auto;
	position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 130px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.profile_div:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.button {
  position: absolute;
  width: 80px;
  padding-top:20px;
  padding-left:15px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button  .dim{
  width: 80px;
  padding:20px;
  top: 100px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.profile_div:hover .button {
  opacity: 1;
}

.username
{
width:150px;
text-align: center;
}


.virticalnav
{
  width:300px;
  height:300px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

div.smallBox_center
{
  width: 900px ;
 height: 1000px;
 background-color: #ffea99;
 margin-left:250px;
 padding-top: 0px;
 padding-left: 20px;
 padding-right: 100px;
 padding-bottom: 20px;
 float : left;
 position:relative;
 z-index:0;
 border: solid 1px blue;
}
.ng-view
{
	/*position:absolute;*/
	background:;
    border: ;
    padding: 5px;
    margin:5px;
    top: 5px;
    left: 30px;
}



div.footer
{
	width: 800px;
 height: 30px;
 padding-top: 20px;
 padding-left: 150px;
 padding-right: 20px;
 padding-bottom: 20px;
 margin-left: 300px;
 text-align: center;
 border: 0px solid green;
 position:static;
 /*margin-top: 100px;*/
 margin-bottom: 20px;
 background: yellow;
}

